{% extends 'products/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container my-5">
	<div class="my-5">
		<h2>Customer Reviews</h2>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
					<th scope="col">Num</th>
		  		<th scope="col">Customer ID</th>
		  		<th scope="col">Rating</th>
		  		<th scope="col">Comments</th>
			</tr>
	  	</thead>
	  	<tbody>
			{% for review in reviews %}
			<tr>
		  		<th scope="row">{{ forloop.counter }}</th>
                  <td>{{ review.user }}</td>
                  <td>{{ review.rating }}</td>
		  		<td>{{ review.comment }}</td>
			</tr>
			{% endfor %}
			<tr>
		  		<th scope="row"></th>
		  		<td colspan="3" class="text-right ">
				<a href="/" class="btn btn-success">Back to Home</a>
				</td>
			</tr>
	  	</tbody>
	</table>
</div>
{% endblock %}