{% extends 'products/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container my-5">
	<div class="my-5">
		<h2>Your Orders</h2>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
		  		<th scope="col">Num</th>
		  		<th scope="col">Order Id</th>
		  		<th scope="col">Cancel</th>
			</tr>
	  	</thead>
	  	<tbody>
			{% for order in orders %}
			<tr>
		  		<th scope="row">{{ forloop.counter }}</th>
		  		<td>{{ order.orderId }}</td>
		  		<td><form method="POST">
				{% csrf_token %}
		   		<button type="submit" class="btn btn-success">Cancel</button>
				</form>
				</td>
			</tr>
			{% endfor %}
			<tr>
		  		<th scope="row"></th>
		  		<td colspan="3" class="text-right ">
				<a href="/" class="btn btn-success">Back to Home</a>
				<a href="{% url 'reviews:reviews' %}" class="btn btn-success">Review my orders</a>
				</td>
			</tr>
	  	</tbody>
	</table>
</div>
{% endblock %}